# gradle

.gradle/
build/
out/
classes/

# rust
**/target/
**/Cargo.lock

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
run-server/